.login{
    height: 256px;
    background: url(../img/banner5.png) no-repeat center;
   background-size: cover;
   position: relative;
   padding-top:40px ;
}
.login .con{
    height: 112px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login .con .hd{
    height: 54px;
    width: 54px;
    display: block;
    background-image: url(../img/head.png);
    margin: 0 auto;
}
.login .con span{
    display: block;
    line-height: 30px;
    font-size: 17px;
    color: #000;
}
.login .con .Opt_out{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1c6dc0;
}

.ul-list a{
    display: block;
    background-color: #fff;
    position: relative;
    color: #000;
    border: 1px solid #ccc;
   border-radius: 10px;
   line-height: 44px;
}
.ul-list{
    padding: 10px 16px;
}
.ul-list li{
    margin-top: 10px;
}
.ul-list i{
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 47px;
    vertical-align: middle;
    /* 水平居中的 */
    margin-left: 10px ;
}

.ul-list p{
    display: inline-block;
    line-height:47px;
    vertical-align: middle;
    margin-left: 6px ;
}
.ul-list span{
    background: url(../img/jt.png) no-repeat center;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}